
input,textarea,select{
  appearance: none; /* tira a seta do select */
  width: 100%;
  border-radius: .5rem; /* aredondamento */
  border: 1px solid var(--color-stroke-default);
  padding: .75rem 1rem;
  font: var(--text);
}

label {
  font: var(--text-sm);
  color: var(--text-secondary);
  display: block;
  margin-bottom: .25rem;
}
input:focus,
select:focus,
textarea:focus {
  border-color: var(--color-stroke-highlight);
  box-shadow: 0 0 0 2px var(--color-surface-secondary);
  outline: none;
}
input[type="date"] {
  position: relative;
}

input[type="date"] {
  position: relative;
  padding-right: 2rem; /* Espaço pro ícone */
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0; /* Some com o original */
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

input[type="date"]::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  width: 1.25rem;
  height: 1.25rem;
  background: url('../../assets/icons/calendar-03.svg') center/contain no-repeat;
  pointer-events: none; /* Pra clique ir pro input */
}

select {
  background: url(../../assets/icons/arrow-down-01.svg)
  no-repeat calc(100% - 1rem);
}

.address .flex{
  gap: 1.25rem;
}

.input-wrapper:has([disabled]){
  opacity: .5;
}

input[disabled] {
  background-color: var(--color-surface-disabled);
  border: 1px solid var(--color-stroke-default);
  color: var(--color-text-primary);
}

input:invalid,
textarea:invalid,
select:invalid {
  border: 0.125rem solid var(--color-semantic-error);
}

input + small,
textarea + small,
select + small {
  font: var(--text-sm);
  color: #78718c;
  display: inline-block;
  margin-top: .25rem;
}

input:invalid + .error,
textarea:invalid + .error,
select:invalid + .error {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font: var(--text-sm);
  color: var(--color-semantic-error);
  margin-top: 0.25rem;
}

input:valid:not(:focus) + .error,
textarea:valid:not(:focus) + .error,
select:valid:not(:focus) + .error {
  display: none;
}